/* ----- ----- SOcial Media Footer ----- ----- */
.social-media {
    position: absolute;
    bottom: 5rem;
    color: #003f5c;
    font-size: .8rem;
    text-align: center;
    width: 100vh;
}

.social-columns {
    display: flex;
    justify-content: center;
    padding-bottom: .625rem;
}

.social-columns .column {
    padding: .4rem;
}

.social-media a {
    text-decoration: none;
    color: var(--color-dark);
}

.social-media a:hover {
    text-decoration: underline;
}

/* Estilos para el texto */
.social-media {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}