* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg:    #8EDAFA;
    --color-menu:  rgb(255,255,255,0.3);
    --color-hover: #EB5656;
    --color-dark:  #283142;
    --color-sombra: rgba(0,0,0,.2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-bg);
}

.nav {
    position: relative;
    background-color: var(--color-dark); 
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px var(--color-sombra);
}

.menu {
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav input:checked ~ .menu{
    width: 500px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: var(--color-menu);
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    transition: 0.5s;
}

.menu li a:hover {
    color: var(--color-bg);
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 25px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: var(--color-bg);
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: var(--color-hover);
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.nav span:nth-child(4) {
    transform: translateY(0px);
}

.nav input:checked ~ span:nth-child(4) {
    opacity: 0;
}
